<app-header></app-header>

<!-- <h1>Hello World {{title }}</h1> -->


<!-- not assign other value in varialble -->
<!-- <h1>{{title ="hello" }}</h1> -->

<!-- <h1 class="{{title}}"> {{data }}</h1>
<h2> {{getvalue()}} {{2+2}}</h2> -->

<!-- <input type="text" placeholder="Enter Name" name="name" #box (keyup)="getval(box.value)" /> -->
<!-- <input type="text" placeholder="Enter Name" name="name" #box />
<button (click)="getval(box.value)">Click</button>
<p style="color: red;">Box Value : {{displayvalue}}</p>

<h2 *ngIf="show==='data' else elseBlock">My name is darshan true</h2>

<ng-template #elseBlock>
  <h2>chalo goa</h2>
</ng-template>

<button (click)="counter('plus')">++</button>
<p>count: {{count}}</p>
<button (click)="counter('min')">--</button><br /><br />

<input type="text" name="user" value={{getvalue()}} disabled><br /><br />
<input type="text" name="user" [value]="getvalue()">

<app-user-list></app-user-list> -->
<!-- <app-loop></app-loop>

<app-user-list></app-user-list>
<app-login></app-login> -->