<app-header ></app-header>

<form #basicform="ngForm" (ngSubmit)="getformdata(basicform.value)">
  <input type="text" ngModel name="email" placeholder="Enter Email " /><br><br>
  <input type="text" ngModel name="password" placeholder="Enter password" /><br><br>
  <button>click</button>
</form><br><br>

<button mat-raised-button color="primary" (click)="toggle()">Toggle</button>
<p >{{userData.email}}</p><br><br>
<div *ngIf="display">
  <p>Hello World!</p>
  <p>Hello World!</p>
  <p>Hello World!</p>
  <p>Hello World!</p>
</div>

<ul *ngFor="let item of userdata">
  <app-child [user]="item"></app-child>
</ul>

<form>
<input type="text" placeholder="Enter New text" name="data"  #task /><br><br>
<button mat-raised-button color="primary" (click)="addtask(task.value)" >Add Task</button>
</form><br><br>

<app-user-list></app-user-list><br><br>

<ul *ngFor="let item of list" style="margin-left: 30px;">
  <li>{{item.name}}   <button mat-raised-button color="warn" (click)="removetask(item.id)">remove</button></li>
</ul>

<button (click)="sendvalue()">click</button>
<app-child [item]="dataparent"></app-child>


<!-- <h1>Hello World {{title }}</h1> -->


<!-- not assign other value in varialble -->
<!-- <h1>{{title ="hello" }}</h1> -->

<!-- <h1 class="{{title}}"> {{data }}</h1>
<h2> {{getvalue()}} {{2+2}}</h2> -->

<!-- <input type="text" placeholder="Enter Name" name="name" #box (keyup)="getval(box.value)" /> -->
<!-- <input type="text" placeholder="Enter Name" name="name" #box />
<button (click)="getval(box.value)">Click</button>
<p style="color: red;">Box Value : {{displayvalue}}</p>

<h2 *ngIf="show==='data' else elseBlock">My name is darshan true</h2>

<ng-template #elseBlock>
  <h2>chalo goa</h2>
</ng-template>

<button (click)="counter('plus')">++</button>
<p>count: {{count}}</p>
<button (click)="counter('min')">--</button><br /><br />

<input type="text" name="user" value={{getvalue()}} disabled><br /><br />
<input type="text" name="user" [value]="getvalue()">

<app-user-list></app-user-list> -->
<!-- <app-loop></app-loop>

<app-user-list></app-user-list>
<app-login></app-login> -->