<p *ngIf="show">user-list works!</p>

<div [ngSwitch]="color">
    <h2 *ngSwitchCase="'red'" style="color: red;">hello World user -list</h2>
    <h2 *ngSwitchCase="'green'" style="color: green;">hello World user -list</h2>
    <h2 *ngSwitchDefault>unknown Color</h2>
</div>

<input type="text" [(ngModel)]="name" placeholder="Enter name">
<p>{{name }}</p>

<!-- 6 means point pela ni jetli value levi hoy te ane 7 means point pa6i ni 7 value ane  8 means minimum  value 8 -->
<p>{{2000.310 | number : "6.7-8"}}</p>
<b>{{2000 | currency : "GBP" }}</b><br>
<b>{{"hello how are you "| titlecase}}</b>

 
